.main-chat
  .main-chat__group-info
    .a
      .a__name
        group
      .a__member
        Member : name
      .a__edit
        =link_to "#", class: "btn" do
          Edit
  .main-chat__message-list
  .main-chat__message-form