.main-chat
  .main-chat__group-info
    .a
      .l
        .l__name
          group
        .l__member
          Member : name
      .r
        .r__edit
          =link_to "#", class: "btn" do
            Edit
  .main-chat__message-list
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
  .main-chat__message-form
    %form.new-message
      .input-box
        %input.input-box__text{:placeholder => "type a message", :type => "text"}
        %label.input-box__image
          = icon('far', 'image')
          %input.input-box__image__file(type="file")
      %input.submit-btn{:type => "submit", :value => "Send"}