.main-chat
  .main-chat__group-info
    .a
      .l
        .l__name
          group
        .l__member
          Member : name
      .r
        .r__edit
          =link_to "#", class: "btn" do
            Edit
  .main-chat__message-list
  .main-chat__message-form